@import "tailwindcss";

@theme {
  --font-myanmar: "Pyidaungsu", "Myanmar3", serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

.squiggly {
  text-decoration: underline wavy red;
  text-underline-offset: 4px;
}